.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.Canvas {
  border: 3px solid black;
}

.Nav {
  background-color: aquamarine;
  padding: 1rem;
}

.Controls {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.ShapeButton {
  padding: 0.5rem;
  cursor: pointer;
}
